<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Salary</title>
</head>
<body>
    <div layout:fragment="breadcrumb">
        <h1>Employee Salaries</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Employee Salaries</li>
        </ol>
    </div>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                 <div class="box box-primary">
    
                    <div class="box-header with-border">
                        <a class="box-title btn btn-primary" th:href="@{/salary/form}">Add Salary</a> 
                        <div class="box-tools"> 
                            <form id="form" action="#" th:action="@{/salary/list}" method="get">
                                <div class="input-group input-group-sm" style="width: 250px;">
                                    <input type="text" name="value" class="form-control pull-right"
                                           placeholder="Pencarian Berdasarkan Nama" th:if="${key} == null"/>
                                    <input type="text" name="value" class="form-control pull-right"
                                           placeholder="Pencarian Berdasarkan Nama" th:if="${key} != null"
                                           th:value="${key}"/>
                                           <input type="hidden" name="mode" id="mode"/>
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
    
    
                    <!-- /.box-header -->
                     <div class="box-body"> 
                         <!-- <span sd:page-size-selector="javascript"></span>  -->
    
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th> No</th>
                                    <th>Employee Name</th>
                                    <th>Payroll Date</th>
                                    <th>Total Salary</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="st,iter : ${salary}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${st.karyawan.nama}"></td> 
                                    <td th:text="${st.payroll_date}"></td>
                                    <td th:text="${st.total_salary}"></td>
                                    <td>
                                        <!-- <a class="btn btn-default" th:href="@{/meeting/update/{id}(id=${st.id})}"
                                           title="Edit Data"><span class="glyphicon glyphicon-edit"></span></a>
                                           
                                        <a class="btn btn-default" th:href="@{/meeting/delete/{id}(id=${st.id})}"
                                           title="Delete Data"><span class="glyphicon glyphicon-trash"></span></a>

                                        <a class="btn btn-default" th:href="@{/meeting/detail/{id}(id=${st.id})}"
                                           title="Detail Data"><span class="glyphicon glyphicon-eye-open"></span></a> -->
                                    </td>
                                </tr>
                                <!--  <tr th:if="${#lists.isEmpty(meeting.content)}"> -->
                                <tr>
                                   <td colspan="13" class="text-center">Data karyawan tidak ditemukan</td>
                                </tr>
                                </tbody> 
                            <!-- </thead> -->
                            </table>
                        </div>
                    </div>  
    
    
                    <!-- <div th:if="${not #lists.isEmpty(meeting.content)}">
                    </div>  -->
    
                 </div> 
            </div>
         </div> 
    </div>
</body>
</html>